.post__inner {
    z-index: 3;
    height: 300px;
    background: var(--bg);
    border: 4px solid var(--border);
    padding: 20px 15px;
    width: 340px;
    border-radius: 0 0 18px 18px;
}

.post-title {
    margin-bottom: 40px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 26px;
    color: var(--black);
}

.post-price {
    margin-bottom: 12px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: var(--black);
}


.post-delivery {
    margin-bottom: 12px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: var(--black);
}

.post-add {
    padding: 5px 32px;

    background: var(--green);
    border: 4px solid var(--border);
    border-radius: 12px;

    font-family: 'Gluten';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: var(--white);
    transition: .3s;
}

.post-add:hover {
    cursor: pointer;
    background: var(--bg);
    border: 4px solid var(--green);
    color: var(--black);
}

.post-number {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 26px;
}

.post-btn {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--black);
}

.post-btn:active {
    background-color: rgb(185, 185, 185);
}

.post-number-key {
    width: 90px;
    font-family: 'Gluten';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    color: var(--black);
    transition: .3s;
}